/* Ravi Rahul 02.09.2018  16:01 */

.root{
	
	
}

/*.body-bg black{
	background: black;
}

.body-white{
	background: white;
}
*/


/* Temporary Background for Boody */ /* ACTIVE colorful Gradient 07-10-2018*/

.body-gradient{
	background: black;
	background: -webkit-linear-gradient( #EA8D8D, #A890FE);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
	

	
	
	
a:link{
	text-decoration: none;
	color: black;
}

/* MAIN (Parent) Container*/
.container{
	height: 550px;
	width: 1000px;
	border-radius: 20px;
	padding: 0 0 0 0;
	background: lightGreen;

	
	background: linear-gradient(down, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	background: -o-linear-gradient(90deg, rgba(355, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	background: -webkit-linear-gradient(180deg, rgba(355, 355, 255, 0.3) 0%, rgba(355, 355, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	background: -o-moz-linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	
	
	margin: 50px 0 0 150px;
	color: black;
	z-index: 8;
}

	/*profile details box starts*/
	
.profileContainer{
	height: 560px;
	width: 220px;
	background: red;
	background: linear-gradient(yellow, red);
		background: -webkit-linear-gradient(#A9F1DF, #FFBBBB);
		background: -o-linear-gradient(#A9F1DF, #FFBBBB);
		background: -moz-linear-gradient(#A9F1DF, #FFBBBB);
		
	

	float:left;
	margin-top: -10px;
	margin-left: 145px;	
	padding-top: 10px;
	z-index: 10;
}
	
.profileimg{
	height: 180px;
	width:180px;
	border-radius: 150px;
	margin: 30px 0 0 0;
	
	
}

.profileimg:hover{
	margin: 28px 2px 2px 0;
	box-shadow: inset 4px 4px 0 #888888;
	-webkit-box-shadow: 4px 4px 0 #888888;
}

.message h1{
	font-family: Arial;
	margin: -1px 0 0 0;
}

.message h1:hover{
	animation-name: colorChange;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes colorChange{
	0%{color: grey; text-shadow: 5px 2px 4px yellow;}
	20%{color: red; text-shadow: 5px 2px 4px white; letter-spacing: 2px;}
	40%{color: white; text-shadow: 5px 2px 4px red; letter-spacing: normal}
	60%{color: yellow; text-shadow: 5px 2px 4px blue; letter-spacing: 5px;}
	80%{color: blue; text-shadow: 5px 2px 4px black; letter-spacing: normal}
	100%{color: black; text-shadow: 5px 2px 4px green; letter-spacing: normal;}
}

.message h3{
	font-family: Cambria;
	margin-top: -1px;
}

.message h3:hover{
	animation-name: techShake;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes techShake{
	0%{color:red; font-style: italic;}
	20%{color: white; font-style: normal; font-variant: small-caps;}
	40%{color:black; font-style: italic; text-shadow: 5px 2px 4px red; letter-spacing: 2px;}
	60%{color:red; font-style: normal; font-weight: bolder; text-decoration: line-through; letter-spacing: normal;}
	80%{color:blue; font-style: italic; letter-spacing: 5px;}
	100%{color:white; font-style: italic; text-shadow: 5px 2px 4px black; letter-spacing: normal;}
}

.icons img{
	height: 20px;
	width: 20px;
	display: inline-block;
	margin: 5px;
}

.icons img:hover{
	animation-name: iconHover;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

@keyframes iconHover{
	
	0%{box-shadow: 5px 2px 4px gray;}
	20%{box-shadow: 5px 2px 4px red;}
	40%{box-shadow: 5px 2px 4px white;}
	60%{box-shadow: 5px 2px 4px yellow;}
	80%{box-shadow: 5px 2px 4px blue;}
	100%{box-shadow: 5px 2px 4px black;}
	
	
	
}

.button{
	top: 90px;
	position: relative;
	margin-top: 100px;
	display: inline-block;
}

#profileButton:hover{
	box-shadow: 5px 5px 5px red;
}

#profileButton:active{
	background: grey;
	border: none;
}

#profileButton{
	background: linear-gradient(down, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	background: -o-linear-gradient(90deg, rgba(355, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	background: -webkit-linear-gradient(180deg, rgba(355, 355, 255, 0.3) 0%, rgba(355, 355, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	background: -o-moz-linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.6) 75%, rgba(255, 255, 255, 0.3) 100%);
	border: none;
	padding: 5 px;
	height: 25px;
	width: 95px;
	margin: 0 5px 5px 5px;
}


/*  # # # # # # # #  STYLING CHILD CONTAINERS AT ONCE # # # # # # # #  */
.contactContainer, .educationContainer, .workContainer, .aboutContainer{
		height: 540px;
		width: 74%;
		margin: 5px;
		float: right;
		/*background-color: pink;*/
}

/* 0-0-0-0-0 ENDS STYLING CHILD CONTAINERS 0-0-0-0-0 */


/* STYLING ABOUT PAGE */

.aboutMe{
	
	/*background-color: white;*/
	
}

.aboutMe h3{
	margin-left: 10px;
	background-color: LightGray;
}

.aboutMe p{
	margin: 5px;
	font-family: times;
	font-size: 20px;
	
}

.basicContactBox{
	margin-left: 20px;
	margin-top: 10px;
}

.basicContactBox img{
	height: 25px;
	width: 25px;
}

.basicContact{
	display: inline-block;
	width: 40%;
	margin-left: 30px;
	margin-top:5px;
	padding-left: 5px;
}

.basicContact h4{
	margin-top: -22px;
	margin-left: 30px;
} 	 

.skillsHobbies{
	height: 240px;
	padding: 5px;
}

.skills{
	float:left;
	width: 48%;
	height: 100%;
}

.skillSpan{
	margin: 5px;
	
}

.hobbies{
	float: right;
	width: 48%;
	height: 100%;
}

.hobbies img{
	height: 40px;
	width: 40px;
}

.hobbies img:hover{
animation-name: iconHover;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	}

.hobbyspan{
	display: inline-block;
	width: 25%;
	height: 25%;
	margin-bottom: 15px;
	margin-left: 15px;
}


/*nav buttons*/
.nav{
	position: fixed;
	top: 200px;
	left: 1158px;
	background-color: lightGray;
	z-index: 20;
}

.navButton{
	
}

.navButton img{
	height: 35px;
	width: 35px;
	margin-top:1px;
}


/* #-#-#-#-#-#-#-#  STYLING CONTACT PAGE  #-#-#-#-#-#-#-# */


.contactContainer img{
	height: 30px;
	width: 30px;
}

.contacts{
	height: 50%;
	width: 98%;
	margin : 10px 10px 5px 5px;
	/*background-color: Gray;*/
}

.contactBox{
	width: 50%;
	float: left;
}

.contactRes{
	width: 45%
	float: left;
	background-color: skyblue;
}

#contactQr{
	height: 300px;
	width: 300px;
}

#vcardButton{
	height: 100px;
	width: 200px;
	background-color: black;
	color: red;
}

	
.contactSpan{
	margin: 8px 0 0 10px;
	height: 30px;
	/*background-color: white;*/
}

.contactSpan h4{
	margin: -28px 0 0 30px;
	
}

.mapAndForm{
	height: 45%;
	width: 98%;
	margin: 5px;
	/*background-color: LightGray;*/
}

.map{
	float: left;
	height: 100%;
	width: 48%;
	/*background-color: red;*/
}

.form{
	float: right;
	height: 100%;
	width: 48%;
	/*background-color: red;*/
}

form{
margin: 5px;
display: inline-table;
}

input{
height: 20px;
width: 50%;
border-radius: 8px;
padding-left: 5px;
background-color: lightGray;
}	


textarea{
height: 70px;
width: 75%;
border-radius: 15px;
background-color: lightGray;
	
}

/* STARTS Styling to show and hide contents */

div[class*="content-"] {
	display:none;
}

div .active{
	display: block;
}

/* ENDS Styling to show and hide contents */




/* STARTS Styling to show and Work & Study Details */

div[class*="message-"] {
	display: none;
}

/*for all .active */


div .active{							
	display: block;
}

/* TABLE Formatting */

table{
	
	float: left;
	width: 70%;
	height: 30%;
	margin: 25px 25px 35px;
	border: -1px;
	font-family: calibri;
	
}

table button{
	color: red;
	height: 100%;
	width: 100%;
	border: none;
	background-color: none;
}

table button:hover{
	background-color: blue;
}


table #icon{
	height: 25px;
	width: 25px;
	
	
}
	

.studyHeader, .workHeader{
	
	transform: rotate(-90deg);
	width: 20px;
	font-family: arial;
	font-weight: bold;
}

#iconCell{
	background-color: lightGray;
}

#menuCell{
	width: 20%;
	background-color: green;
}

#headCell{
	width:25px;
	background-color: lightGray;
}

#messageCell{
	padding: 10px;
}

.message-SW{
	margin-top: -50px;
}

/* ENDS Study & Work */

/*START Project Styling*/

.projectBox{
	float: left;
	display: block;
	width: 220px;
	height: 180px;
	margin: 10px;
	background: black;
	border-radius: 0;
}
	
.projectInfo{
	display: none;
	background: grey;
	width: 100%;
	height: 60px;
	margin-top: 120px;
	font-size: 12px;
	color: green;
}

/*  

div .active{
	display: block;
}
*/

#projectInfoHead{
	color: White;
}

#projectInfoPara{
	font-size: 14px;
	margin-top: -18px;
	color: black;
}

/*tooltip*/

.textBox{
	height: 90%;
	width: 90%;
	background-color: red;
	
	
}
